
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 well">

        <button type="button" class="btn btn-primary"><i class="fa fa-television fa-3x"></i> Create PDR </button>
        <button type="button" class="btn btn-primary"><i class="fa fa-television fa-3x"></i> Profile </button>
        <button type="button" class="btn btn-primary"> <i class="fa fa-television fa-3x"></i> Monitor </button>
    </div>

</div>