<div class="container" style="margin-top:60px;">
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <!--  <div class="panel panel-default">
                <div class="panel-heading">

                </div>
            </div> -->

            <div class="row" style="padding-bottom:20px;">
                <div class="col-sm-8 col-md-8 text-left"></div>
                <div class="col-sm-2 col-md-2 text-right">
                    <span><b>QUANTITY</b></span>
                </div>
                <div class="col-sm-2 col-md-2 text-right">
                    <span><b>SUBTOTAL</b></span>
                </div>
            </div>

            <div class="panel panel-default" *ngFor="let items of addedItems">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <div class="thumbnail">
                                <img src="app/products/images/{{items?.imageUrl}}">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 text-left">
                            <h5> <b>{{items?.name}}</b></h5>
                            <h4> <b>{{items?.price | currency : 'GBP' : true}}</b> </h4>
                        </div>
                        <div class="col-sm-2 col-md-2 text-right">
                            <button class="btn btn-xs" style="outline:0" (click)="minusQty(items)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <span style="margin:0 10px;">{{items?.quantity}} </span>
                             <button class="btn btn-xs" style="outline:0" (click)="plusQty(items)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-sm-2 col-md-2 text-right">
                            <h4> <b>{{items?.price * items?.quantity | currency : 'GBP' : true}}</b> </h4>
                            <div> <button class="btn btn-sm btn-warning pull-right" (click)="removeProduct(items)"><i class="fa fa-trash" aria-hidden="true"></i></button>                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-md-5 text-left">
                    <button class="btn btn-md btn-block btn-primary" (click)="onContinueShoppingClicked()" > <i class="fa fa-shopping-basket fa-lg" style="padding-right:10px;" aria-hidden="true"></i> CONTINUE SHOPPING  </button>
                </div>
                <div class="col-sm-3 col-md-3 text-left">

                </div>
                <div class="col-sm-4 col-md-4">
                    <button class="btn btn-md btn-block btn-primary" (click)="onCheckOutClicked()"> CHECKOUT <i class="fa fa-shopping-cart fa-lg" style="padding-left:10px;" aria-hidden="true"></i> </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>SUMMARY</b> </h3>
                </div>
                <div class="panel-body">
                    <b>Total incl. VAT</b>
                    <h2 class="pull-right"> <b>{{totalPrice | currency: 'GBP' : true}}</b> </h2>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-lg btn-block btn-primary" (click)="onCheckOutClicked()"> CHECKOUT <i class="fa fa-shopping-cart fa-lg" style="padding-left:10px;" aria-hidden="true"></i> </button>
                </div>
            </div>

        </div>
    </div>
</div>