<div class="container">

  <div class="row" style="padding:30px;">
    <div class="col-sm-12 col-md-12 text-center">
      <h2> <b>Your shopping Bag</b> </h2>
      <p class="lead">
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui
      </p>
    </div>
  </div>

  <my-shopping-cart-full></my-shopping-cart-full>
</div>