
<div id="objPanel" class="panel-group" style="margin :15px 0 15px 0">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <a style="color:#282D32; font-weight:500 " data-toggle="collapse" href="#profileCollapsePanelSFIndex"> <span class="glyphicon glyphicon-user" ></span></a>
            </h2>
        </div>
        <div id="profileCollapsePanelSFIndex" data-collapsed-index="profileCollapsePanelSFIndex" class="panel-collapse collapse in">
            <div class="panel-body">
                <div style="padding:20px; border:1px #e8e8e8 solid; background-color:#ebebed; box-shadow: 0 -1px 20px -4px rgba(0,0,0,.75) ; color:#282D32; font-weight:400 !important;">
                   

                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
